<div class="container">
<div class="jumbotron">
  <h1 class="display-4">Welcome to Feed Stash</h1>
  <p class="lead">Our mission is to act as a source for indie content.</p>
  <hr class="my-4">
  <p>Blogs, Podcasts, and more, Feed Stash relies on the community to contribute.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Coming Soon</a>
  </p>
</div>
</div>