<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <p>You have received a message from the Feed Stash contact form.</p>
    <p><strong>From: </strong><%= "#{ @name }, #{ @email }." %></p>
    <p><strong>Message: </strong><%= @body %></p>
  </body>
</html>