<div class="row">
  <div class="col-md-6 offset-md-3">
    <h3>Error: 404</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <p><%= image_tag 'error.gif', class: 'mx-auto' %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <p>So, funny story. The page you just tried to access... it... how do I put this... doesn't exist.
    <br /><br />
    Good news is this broken state <del>of mine</del> was captured in the logs! 
    </p>
  </div>
</div>